{% extends "navbar.html" %}
{% block content %}
    <title>Personal Mycroft Backend</title>
    <section class="hero is-primary is-bold is-small">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div id="config" class="config-box">
                    <div class="config-area">
                        <h1 class="title">Config</h1>
                        {% for config in configs %}
                            <table>
                                {% for key, value in config.items() %}
                                    <tr>
                                        <th> {{ key }} </th>
                                        <td> {{ value }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}