{% extends "navbar.html" %}
{% block content %}    
<title>Personal Mycroft Backend</title>
<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="metrics" class="metrics-box">
        <div class="metrics-area">
          <h1 class="title">Metrics</h1>
            {% for metric in metrics %}
                <p>
                   <td>{{metric}}</td>
                </p>
            {% endfor %}
        </div>
      </div>    
    </div>
  </div>
</section>
{% endblock %}