{% extends "navbar.html" %}
{% block content %}
<title>Personal Mycroft Backend</title>
<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="devices" class="devices-box">
        <div class="devices-area">
          <h1 class="title">Device Settings</h1>
          <div class="field">
            <p class="control has-icons-left">

              <input id="devices-name" class="input is-success" type="text"
                     placeholder="name your device">
              <span class="icon is-small is-left">
                <i class="fa fa-laptop"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input id="devices-code" class="input is-success" type="text"
                     placeholder="PAIRING_CODE">
              <span class="icon is-small is-left">
                <i class="fa fa-id-card"></i>
              </span>
            </p>
          </div>
          <br>
          <a id="pair"
             class="form-button button is-primary is-inverted is-outlined">
            <span>Pair</span>
          </a>
          <br>
          <br>
          <i><a id="feedback" class="feedback"></a></i>
        </div>
      </div>    
    </div>
  </div>
</section>
<section class="hero">
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>
              <strong>Personal Mycroft Backend</strong> by JarbasAI
              <span class="icon is-small">
                <i class="fa fa-copyright"></i>
              </span>2018</a>
            </p>
            <p>
              <a class="icon" href="https://jarbasai.github.io" target="_blank">
                <i class="fa fa-globe"></i>
              </a>
              <a class="icon" href="https://github.com/JarbasAl/personal-mycroft-backend/" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a class="icon" href="mailto:jarbasai@mailfence.com" target="_blank">
                <i class="fa fa-envelope"></i>
              </a>
            </p>
          </div>
        </div>
      </footer>
    </section>
{% endblock %}