{% extends "navbar.html" %}
{% block content %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body"></div>
</section>
<section class="hero">
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>
              <strong>Personal Mycroft Backend</strong> by JarbasAI
              <span class="icon is-small">
                <i class="fa fa-copyright"></i>
              </span>2018</a>
            </p>
            <p>
              <a class="icon" href="https://jarbasai.github.io" target="_blank">
                <i class="fa fa-globe"></i>
              </a>
              <a class="icon" href="https://github.com/JarbasAl/personal-mycroft-backend/" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a class="icon" href="mailto:jarbasai@mailfence.com" target="_blank">
                <i class="fa fa-envelope"></i>
              </a>
            </p>
          </div>
        </div>
      </footer>
    </section>
{% endblock %}