{% extends "navbar.html" %}
{% block content %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
        <div class="container has-text-centered">
              <br>
              <p class="title is-2">Welcome!</p>
              <p class="subtitle is-4"><i>You have not confirmed your account. </i></p>
              <p class="subtitle is-4"><i>Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</i></p>
              <br>
              <br>
              <form action = "/resend" method = "post">
                <input type="submit" name="Resend" value="Resend"
                       class="form-button button is-primary is-inverted is-outlined"/>
              </form>
              <i><a id="feedback" class="feedback"></a></i>
              <br>
        </div>

      </div>
</section>
{% endblock %}