{% extends "navbar.html" %}
{% block content %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
        <div class="container has-text-centered">
              <br>
              <p class="title is-2">Welcome!</p>
              <p class="subtitle is-4"><i>You have not confirmed your account. </i></p>
              <p class="subtitle is-4"><i>Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</i></p>
              <br>
              <br>
              <form action = "/resend" method = "post">
                <input type="submit" name="Resend" value="Resend"
                       class="form-button button is-primary is-inverted is-outlined"/>
              </form>
              <i><a id="feedback" class="feedback"></a></i>
              <br>
        </div>

      </div>
</section>
<section class="hero">
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>
              <strong>Personal Mycroft Backend</strong> by JarbasAI
              <span class="icon is-small">
                <i class="fa fa-copyright"></i>
              </span>2018</a>
            </p>


            <p>
              <a class="icon" href="https://jarbasai.github.io" target="_blank">
                <i class="fa fa-globe"></i>
              </a>
              <a class="icon" href="https://github.com/JarbasAl/personal-mycroft-backend/" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a class="icon" href="mailto:jarbasai@mailfence.com" target="_blank">
                <i class="fa fa-envelope"></i>
              </a>
            </p>
          </div>
        </div>
      </footer>
    </section>
{% endblock %}